#nav-bar-container {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

#nav-bar-container p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#profile-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#profile-image {
    padding: 30px;
}

#profile-text-container {
    align-self: center;
    padding: 10px;
}

#profile-text-container h1 {
    margin-bottom: 0px;
}

#profile-text-container h2 {
    margin-top: 0px;
}

.section-title {
    text-align: center;
}

#projects-container {
    display: flex;
    justify-content: center;
}

.project-box {
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}