/* Tags */
body {
    margin: 0;
    background-color: #f7f4f3;
}

h1, h2, h3, a, p {
    font-family: 'Poppins', 'sans-serif';
}

h1, h2 {
    color: #102639;
}

p {
    font-weight: 400;
}

.section {
    height: 100vh;
    width: 100vw;
    align-content: center;
}

/* Navigation Bar */
#nav-bar-container {
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 10px;
    background-color: #1a232e;
    align-items: center;
}

#nav-bar-logo {
    height: 7%;
    width: 7%;
    padding: 5px;
}
#nav-bar-text {
    margin-left: auto;
    padding: 10px;
    margin-right: 20px;
}

#nav-bar-text a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#nav-bar-text a {
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#nav-bar-text a:hover {
    color: #f7cac9;
}

/* Profile Section */
#profile-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

#profile-image {
    align-self: center;
    padding: 30px;
    max-height: 40%;
    max-width: 40%;
    border-radius: 50%;
}

#profile-text-container {
    align-self: center;
    padding: 10px;
}

#profile-text-container h1 {
    font-size: 100px;
    padding: 20px;
    margin-bottom: 0px;
}

#profile-text-container h2 {
    font-size: 50px;
    padding: 20px;
    margin-top: -30px;
}

/* Projects Section */
#project-title {
    text-align: center;
}

#projects-container {
    display: flex;
    justify-content: center;
}

.project-box {
    background-color: #2f4156;
    color: white;
    min-height: fit-content;
    width: 400px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.project-box:hover{
    background-color: #1a2836;
}

/* About Me Section */
#about-me-container {
    display: flex;
    justify-content: center;
}

#skills-container, #autobio-container {
    padding: 10px;
    margin: 30px;
    width: 400px;
}

/* Contact Section */
#contact-container {
    display: flex;
    background-color: #1a232e;
    color: white;
    align-items: center;
    padding: 10px;
}

#contact-container #contact-logo {
    height: 13%;
    width: 13%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#contact-container a {
    color: white;
    text-decoration: none;
}

/* Back to Top Section */
#back-container {
    text-align: center;
    padding: 10px;
}

#back-text {
    color:#102639;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

#back-text:hover {
    color:#f7cac9;
}

