body {
    margin: 0;
}

.section {
    height: 100vh;
    width: 100vw;
    align-content: center;
}

#nav-bar-container {
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 10px;
    background-color: black;
    align-items: center;
}

#nav-bar-logo {
    height: 7%;
    width: 7%;
    padding: 5px;
}
#nav-bar-text {
    margin-left: auto;
    padding: 10px;
    margin-right: 20px;
}

#nav-bar-text a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#profile-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

#profile-image {
    align-self: center;
    padding: 30px;
    max-height: 40%;
    max-width: 40%;
    border-radius: 50%;
}

#profile-text-container {
    align-self: center;
    padding: 10px;
}

#profile-text-container h1 {
    margin-bottom: 0px;
}

#profile-text-container h2 {
    margin-top: 0px;
}

.section-title {
    text-align: center;
}

#projects-container {
    display: flex;
    justify-content: center;
}

.project-box {
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#about-me-container {
    display: flex;
    justify-content: center;
}

#skills-container, #autobio-container {
    padding: 10px;
    margin: 30px;
    width: 400px;
}

#contact-container {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px;
}


#contact-container #contact-logo {
    height: 13%;
    width: 13%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
